.dashboard-container {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background-color: #fdc8c8;
}

.header-row {
    border-bottom: 1px solid #921313;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.transit-details h2 {
    border-bottom: 2px solid #ddd;
    display: inline-block;
    padding: 0 10px 5px 0;
}

.transit-details th, .transit-details td {
    padding: 15px;
    text-align: center;
}

.weather-section {
    border-left: 2px solid #921313;  
    padding-left: 20px;
}

.weather-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.weather-icon img {
    width: 50px;
    height: 50px;
}

.weather-temp {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.date-details {
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 10px;
}


/* Style for Buttons */
.button {
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.button-lightblue {
    background-color: #8DBCE9; 
    color: #0c0c0c;
}

.button-lightcoral {
    background-color: #F0BDBA; 
    color: #0c0c0c;
    margin-top: 50px;
}

.button-light-orange {
    background-color: #F5C395; 
    color: #0c0c0c;
}

.button-blue:hover {
    background-color: #1079db;
}

.button-lightcoral:hover {
    background-color: #e6271d; 
}
.button-light-orange:hover {
    background-color: #f17f14; 
}
/* Center the table */
.table {
    margin: 0 auto;
}

/* Image styling and positioning */
.bus-image {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}

/* Positioning the buttons */
.buttons-group {
    text-align: center;
    margin-top: 20px;
}

.buttons-group-bottom {
    bottom: 10%;
    right: 10%;
}

.dashboard-container {
    flex-grow: 1; 
}

.weather-card {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 250px;
    transition: all 0.3s ease;
    margin-top: 300px;
}

.table {
    margin: 0 auto;
    width: auto;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}