.button-light-red {
    background-color: #F0BDBA; 
    color: #0c0c0c;
    margin-top: 50px;
}

.button-light-red:hover {
    background-color: #800e08; 
}

.button-light-green {
    background-color: #c5f0ba; 
    color: #0c0c0c;
    margin-top: 50px;
}

.button-light-green:hover {
    background-color: #08801c; 
}

.processing-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(177, 177, 177, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
  }
  
  .spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #1190e6;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .processing-text {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
  }